Certification automation.json
{
  "name": "Certification automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -288
      ],
      "id": "2794f936-762c-49eb-b13f-f0c3fc8450c2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1YYJQt2Ri4EidwOmGjFFts_iSw6F2mVr0TIhC4eemp-c",
          "mode": "list",
          "cachedResultName": "demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YYJQt2Ri4EidwOmGjFFts_iSw6F2mVr0TIhC4eemp-c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YYJQt2Ri4EidwOmGjFFts_iSw6F2mVr0TIhC4eemp-c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -288
      ],
      "id": "dfa1b4c9-8d92-4e44-8653-4b3e21abe2df",
      "name": "Google Sheets Trigger",
      "executeOnce": false,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "79WEqR4ZT54H8hZx",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "668c4a6b-15d4-4d9e-9c0b-2724481a8534",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "ded8be8c-601c-4fd4-8502-9de1497011b0",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "3ecbe3a7-4b1a-4dfa-8b74-69dc391e4da4",
              "name": "Position",
              "value": "={{ $json.Position }}",
              "type": "number"
            },
            {
              "id": "d641b58f-3eb1-40ca-bdd4-f539b2fd0f71",
              "name": "Event Name",
              "value": "={{ $json['Event Name'] }}",
              "type": "string"
            },
            {
              "id": "7e7b00dc-873e-49fa-809b-1ea0aefe6d70",
              "name": "Date",
              "value": "={{ $json.Date }}",
              "type": "string"
            },
            {
              "id": "009dc897-8bca-449e-8288-4d26074fd007",
              "name": "Certificate Type",
              "value": "={{ $json['Certificate Type'] }}",
              "type": "string"
            },
            {
              "id": "d5e51d2c-d2d0-45af-876d-160dcdf77550",
              "name": "Certificate URL",
              "value": "={{ $json['Certificate URL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -288
      ],
      "id": "dd4b60fe-80d9-487c-98e7-cfcf43195094",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Position }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "bfd1619a-c8d0-45cd-ba55-eb36204d989c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50fd1bf7-a34e-4df0-a28f-f2e763cd8482",
                    "leftValue": "={{ $json.Position }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cda9251b-a7ed-43db-b857-2f7182d4c2c5",
                    "leftValue": "={{ $json.Position }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b14712c4-b9eb-44fb-9648-59c1514112a0",
                    "leftValue": "={{ $json.Position }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        -320
      ],
      "id": "eb72f572-c647-4bc4-ab52-c152a654191e",
      "name": "Switch"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\"/>\n  <style>\n    body { font-family: \"Georgia\", serif; text-align:center; padding: 40px; border: 10px solid #c19d53; }\n    h1 { font-size: 44px; color:#2b2b2b; }\n    .name { font-size: 36px; font-weight:700; margin: 20px 0; }\n    .subtitle { font-size: 22px; color:#555; margin-bottom:30px; }\n    .gold { color: #b8860b; font-weight:700; }\n    .footer { margin-top:60px; display:flex; justify-content:space-around; }\n    .sig { border-top:1px solid #000; width:200px; text-align:center; padding-top:6px; }\n  </style>\n</head>\n<body>\n  <img src=\"https://d2lk14jtvqry1q.cloudfront.net/media/large_113_6cea46ef34_2cfcaeb21b.png\" width=\"400\" alt=\"College Logo\"/>\n  <h1>Certificate of Excellence </h1>\n  <p class=\"subtitle\">This is to certify that</p>\n  <div class=\"name\">{{$json[\"Name\"]}}</div>\n  <p class=\"subtitle\">has secured <span class=\"gold\">1<sup>st</sup> Place</span> in the event</p>\n  <h2>{{$json[\"Event Name\"]}}</h2>\n  <p>Date: {{$json[\"Date\"]}}</p>\n  <div class=\"footer\">\n    <div class=\"sig\">Coordinator</div>\n    <div class=\"sig\">Principal</div>\n  </div>\n</body>\n</html>\n<style>\n  body{\n  padding: 25px;\n}\n.title {\n\tcolor: #5C6AC4;\n}\n</style>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        256,
        -528
      ],
      "id": "fb9468dd-824a-4b55-9193-19792a8d57b9",
      "name": "HTML"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\"/>\n  <style>\n    body { font-family: \"Georgia\", serif; text-align:center; padding: 40px; border: 10px solid #c19d53; }\n    h1 { font-size: 44px; color:#2b2b2b; }\n    .name { font-size: 36px; font-weight:700; margin: 20px 0; }\n    .subtitle { font-size: 22px; color:#555; margin-bottom:30px; }\n    .silver { color: #C0C0C0; font-weight:700; }\n    .footer { margin-top:60px; display:flex; justify-content:space-around; }\n    .sig { border-top:1px solid #000; width:200px; text-align:center; padding-top:6px; }\n  </style>\n</head>\n<body>\n  <img src=\"https://d2lk14jtvqry1q.cloudfront.net/media/large_113_6cea46ef34_2cfcaeb21b.png\" width=\"400\" alt=\"College Logo\"/>\n  <h1>Certificate of Excellence </h1>\n  <p class=\"subtitle\">This is to certify that</p>\n  <div class=\"name\">{{$json[\"Name\"]}}</div>\n  <p class=\"subtitle\">has secured <span class=\"silver\">2<sup>nd</sup> Place</span> in the event</p>\n  <h2>{{$json[\"Event Name\"]}}</h2>\n  <p>Date: {{$json[\"Date\"]}}</p>\n  <div class=\"footer\">\n    <div class=\"sig\">Coordinator</div>\n    <div class=\"sig\">Principal</div>\n  </div>\n</body>\n</html>\n<style>\n  body{\n  padding: 25px;\n}\n.title {\n\tcolor: #5C6AC4;\n}\n</style>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        288,
        -352
      ],
      "id": "0d49ca79-17b8-4022-b0ff-6f8758c67fa3",
      "name": "HTML1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\"/>\n  <style>\n    body { font-family: \"Georgia\", serif; text-align:center; padding: 40px; border: 10px solid #c19d53; }\n    h1 { font-size: 44px; color:#2b2b2b; }\n    .name { font-size: 36px; font-weight:700; margin: 20px 0; }\n    .subtitle { font-size: 22px; color:#555; margin-bottom:30px; }\n    .silver { color: #C0C0C0; font-weight:700; }\n    .footer { margin-top:60px; display:flex; justify-content:space-around; }\n    .sig { border-top:1px solid #000; width:200px; text-align:center; padding-top:6px; }\n  </style>\n</head>\n<body>\n  <img src=\"https://d2lk14jtvqry1q.cloudfront.net/media/large_113_6cea46ef34_2cfcaeb21b.png\" width=\"400\" alt=\"College Logo\"/>\n  <h1>Certificate of Participation </h1>\n  <p class=\"subtitle\">This is to certify that</p>\n  <div class=\"name\">{{$json[\"Name\"]}}</div>\n  <p class=\"subtitle\">for participating and their active significane in the event </p>\n  <h2>{{$json[\"Event Name\"]}}</h2>\n  <p>Date: {{$json[\"Date\"]}}</p>\n  <div class=\"footer\">\n    <div class=\"sig\">Coordinator</div>\n    <div class=\"sig\">Principal</div>\n  </div>\n</body>\n</html>\n<style>\n  body{\n  padding: 25px;\n}\n.title {\n\tcolor: #5C6AC4;\n}\n</style>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        288,
        176
      ],
      "id": "27c666da-6ef2-49c7-b65a-4c760adb5725",
      "name": "HTML2"
    },
    {
      "parameters": {
        "htmlInput": "={{ $json.html }}"
      },
      "type": "@custom-js/n8n-nodes-pdf-toolkit.html2Pdf",
      "typeVersion": 1,
      "position": [
        656,
        -352
      ],
      "id": "3fbcf2f5-0f96-44f2-934b-76cd57b58c68",
      "name": "HTML to PDF2",
      "credentials": {
        "customJsApi": {
          "id": "rYL1psjjdzRXYgB1",
          "name": "CustomJS account 3"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\"/>\n  <style>\n    body { font-family: \"Georgia\", serif; text-align:center; padding: 40px; border: 10px solid #c19d53; }\n    h1 { font-size: 44px; color:#2b2b2b; }\n    .name { font-size: 36px; font-weight:700; margin: 20px 0; }\n    .subtitle { font-size: 22px; color:#555; margin-bottom:30px; }\n    .bronze { color: #CD7F32; font-weight:700; }\n    .footer { margin-top:60px; display:flex; justify-content:space-around; }\n    .sig { border-top:1px solid #000; width:200px; text-align:center; padding-top:6px; }\n  </style>\n</head>\n<body>\n  <img src=\"https://d2lk14jtvqry1q.cloudfront.net/media/large_113_6cea46ef34_2cfcaeb21b.png\" width=\"400\" alt=\"College Logo\"/>\n  <h1>Certificate of Excellence </h1>\n  <p class=\"subtitle\">This is to certify that</p>\n  <div class=\"name\">{{$json[\"Name\"]}}</div>\n  <p class=\"subtitle\">has secured <span class=\"bronze\">3<sup>nd</sup> Place</span> in the event</p>\n  <h2>{{$json[\"Event Name\"]}}</h2>\n  <p>Date: {{$json[\"Date\"]}}</p>\n  <div class=\"footer\">\n    <div class=\"sig\">Coordinator</div>\n    <div class=\"sig\">Principal</div>\n  </div>\n</body>\n</html>\n<style>\n  body{\n  padding: 25px;\n}\n.title {\n\tcolor: #5C6AC4;\n}\n</style>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        240,
        -128
      ],
      "id": "329a16e7-baf0-4260-bb65-50dd32229b98",
      "name": "HTML3"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Edit Fields').item.json.Name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1vX2N8j6umBhGT1nyiWlVvW8XF35_hv92",
          "mode": "list",
          "cachedResultName": "Certificate automation ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vX2N8j6umBhGT1nyiWlVvW8XF35_hv92"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        -464
      ],
      "id": "21dc41b8-0cd9-456c-8558-d4e46ad35904",
      "name": "Upload file",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "G3jL28tAcZhQxUDt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -384
      ],
      "id": "d0412e4d-33d5-49ea-8256-06b86b182302",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        -336
      ],
      "id": "511f7bcb-0bf6-434e-b575-f0243f2791cf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1040,
        -176
      ],
      "id": "741de0ff-d8e0-4048-9eb8-b15eac02281d"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.Email }}",
        "subject": "VNR VJIET",
        "message": "=Hey  {{ $json.name }} thank your presence in the event here is your certificate",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1232,
        -624
      ],
      "id": "4a934ccb-af3c-4f43-b816-ad26c7515633",
      "name": "Send a message",
      "webhookId": "040bae20-c902-4984-9f71-9f4272c5ee6a",
      "credentials": {
        "gmailOAuth2": {
          "id": "vpGFXkw5cXTmBnUZ",
          "name": "Gmail account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTML to PDF2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTML to PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "679df52f-b801-4024-8dbd-2c160bcd8182",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ed717c4cc85a3cbc8058fd4e97eb06815e4a9d9ee01b3be2785043b7cc80d08"
  },
  "id": "DehgDc84z20GHLmQ",
  "tags": []
}